html {
  background: #fdf2e0;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-bottom: 4vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  margin-top: 5vh;
  font-family: Georgia, "Times New Roman", serif;
  display: flex;
}

.social {
  color: black;
  color: #fff9e5;
  color: #a51f26;
  padding-top: 8%;
}

.main-container {
  width: 60%;
}

.text {
  text-align: justify;
  /* Scalable with min size of 22px. Used to be 26px. */
  font-size: calc(1.375rem + 0.2vw);
  font-size: 1rem;
}

.text-link {
  color: black;
}

.text-link:hover {
  color: gray;
}

/*==============================
  RESPONSIVE DESIGN: TABLET
==============================*/
@media screen and (max-width: 992px) {
  html {
    font-size: 13px;
    overflow-x: hidden;
  }

  .container {
    width: 80%;
  }
  
  .main-container {
    width: 100%;
    margin: 1vh 2vh 2vh 2vh;
  }      
}

/*==============================
  RESPONSIVE DESIGN: PHONE
==============================*/
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin-top: 4vh;
  }

  .main-container {
    margin: 0;
    padding: 0;
  }

  .text {
    padding: 0 8% 0 8%;
  }
}

