html {
  background: #031520;
  font-size: 16px;
  margin: 0;
  padding: 0;
  padding-bottom: 4vh;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1500px;
  margin-top: 5vh;
  font-family: Georgia, "Times New Roman", serif;
  display: flex;
}

.main-container {
  width: 60%;
  color: #fdf2e0;
}

/*==============================
  CIRCLES
==============================*/
.meditation {
  text-align: justify;
  /* Scalable with min size of 22px. Used to be 26px. */
  font-size: calc(1.375rem + 0.2vw);
  /* circle: */
  border-radius: 50%;
  width: 120px;
  /* width: auto; */
  height: 120px;
  padding: 50px;
  background-color: #fdf2e0;
}

/* .meditation:hover {
  opacity: 50%;
} */

.meditation-link {
  color: black;
}

.meditation-link:hover {
  color: gray;
}

.interval {
  /* circle: */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 50px;
  background-color: teal;
}

.interval:hover {
  opacity: 50%;
}

.warm-up {
  /* circle: */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  padding: 50px;
  background-color: #a51f26;
}

.warm-up:hover {
  opacity: 50%;
}

.counters {
  font-size: 5rem;
}

/* .social {
  color: black;
} */

/*==============================
  ADDITIONS
==============================*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.venn {
  margin: 10% 0 10% 0;
}

/* .circle-one:hover img {
  opacity: 90%;
} */

.circle-one {
   height: 20%;
   width: 20%;
   /* border: none; */
  cursor:pointer; 
  opacity: 1;
}

.transperent{opacity: 0.5;}

.circle-one img {
  height: 100%;
  width: 100%
}



.meditation-clicks input {
  pointer-events:none;
  background-color: transparent;
  color: #fdf2e0;
  border: none;
  width: 20px;
}

.test-class input {
 pointer-events: all;
background-color: teal;
border: none;
font-size: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*==============================
  RESPONSIVE DESIGN: TABLET
==============================*/
@media screen and (max-width: 992px) {
  html {
    font-size: 13px;
    overflow-x: hidden;
  }

  .container {
    width: 80%;
  }
  
  .main-container {
    width: 100%;
    margin: 1vh 2vh 2vh 2vh;
  }      
}

/*==============================
  RESPONSIVE DESIGN: PHONE
==============================*/
@media screen and (max-width: 576px) {
  .container {
    width: 90%;
    margin-top: 4vh;
  }

  .main-container {
    margin: 0;
    padding: 0;
  }

  .text {
    padding: 0 8% 0 8%;
  }
}

